* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-height: 945px;
}
.calendar {
  width: 70%;
}

.right-panel {
  box-sizing: border-box;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.max-profit {
  box-sizing: border-box;

  border-bottom: 1px black solid;
}
.chart {
  box-sizing: border-box;

  border-bottom: 1px black solid;
}
.right-panel section {
  height: 33%;
}

.buy-sell {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10rem 0;
}
.buy-sell section {
  width: 100%;
  text-align: center;
}

.buy-sell section h2 {
  position: relative;
  bottom: 5rem;
  font-size: 2.5rem;
}

.buy-sell section h3 {
  position: relative;
  bottom: 4rem;
  font-size: 1.5rem;
  text-decoration: underline;
}
