.App {
  display: flex;
  flex-direction: "row";
}
.calendar{
  width:80%
}

.right-panel{
  box-sizing: border-box;
  width:20%;
  display: flex;
  flex-direction: column;
}
.right-panel section {
  border: 1px black solid;
  width: 100%;
  height: 33%
}
